Source: python-simple-db-migrate
Section: python
Priority: optional
Maintainer: Olaf Gladis <gladis@pokermania.de>
X-Python-Version: >= 2.6, << 3.0
Build-Depends:
    debhelper,
    python-all,
    python-nose
Standards-Version: 1.5.0
Homepage: http://github.com/hwmrocker/simple-db-migrate

Package: python-simple-db-migrate
Section: python
Architecture: all
Depends:
    ${misc:Depends},
    ${python:Depends},
    python-simplejson
Description: simple-db-migrate
 this is a very simple db migration tool that works for MySQL, Oracle and MSSQL.
